<style>
    * {
        font-family: arial,helvetica,sans-serif;
    }
    h1 {
        font-size: 24px;
        color: #0c1220;
    }
    p {
        font-size: 16px;
        color: #505050;
    }
    .button {
        border-width: 1px;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        background-color: #0c1220;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
    }
</style>

<h1>Reset your Bookstore password</h1>

<p>Hi {{ name }},</p>

<p>
    A request has been received to change the password for your Bookstore account.
</p>

<a class="button" href="{{ url }}">Reset password</a>

<p>
    If you did not request a password reset, please ignore this email or contact us if you have questions.
</p>

<p style="margin-bottom: 0;">Thank you,</p>
<p style="margin-top: 0;">Bookstore Team</p>

<a href="{{ frontendUrl }}" style="text-decoration: none">
    <img src="https://res.cloudinary.com/dtozxzg7o/image/upload/v1696697114/bookstore_logo_nkvllu.jpg" alt="Bookstore Logo">
</a>